body{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    top: 0;
    padding: 10px;
    background: rgb(255, 254, 254);
    z-index: 1;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.42); */
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.384);
}
hr:nth-child(1){
    position: sticky;
    top: 40px;
}
nav ul{
    flex: 1;
    text-align: right;
    margin-right: 50px;
    background: rgb(255, 254, 254);
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    position: relative;
    font-family:Castellar;

}
.checkbtn{
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

nav ul li:hover{
    background: #40e075;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #40e075;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 190%;
    transition: 0.5s;
    
}
nav ul li a:hover::after{
    width: 100%;

}
.picture{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url('https://image.shutterstock.com/image-photo/developer-development-web-code-tech-260nw-526821523.jpg');
    background-size: cover;
    width: 100%;
    height: 80vh;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    margin-top: -0px;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
}
.pic{
    width: 400px;
    height: 520px;
    background-color: #66533ba6;
    margin-right: 20px;
    margin-top: 70px;
    padding: 10px;
    border-radius: 5px;
}
.photo{
    width: 200px;
    height: 200px;
    background-image: url('../image/Somphors.jpg');
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    margin-top: 30px;
    
    
}
.pic h1,.pic h2{
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.pic h2{
    color: #40e075;
}
.pic hr{
    margin-top: 80px;
}
.pic ul li{
    margin-top: 10px;
}
.text{
    width: 330px;
    height: 520px;
    color: black;
    background: #c1dfc49a;
    margin-top: 70px;
    padding: 10px;
    border-radius: 5px;

}

.container {
    position: relative;
    margin-left: 20px;
    background-color: var(--complimentary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
  }
  
  .text h2 {
    font-size: 50px;
    color: var(--primary-color);
    transform: translateY(-600px);
    animation: 1s slideIn ease-in-out forwards .5s;
    z-index: 10;
    opacity: 0;
    position: relative;
  }
  
  .text h2::before {
      content: '';
      width: 0%;
      color: #40e075;
      position: absolute;
      bottom: -10px;
      animation: 1s underline ease-in-out forwards .5s;
      mix-blend-mode: screen;
  }
  
  @keyframes skewBg {
    0% {
      transform: scale(.5);
      color: #40e075;
    }
    100% {
      transform: scale(1);
      color: #40e075;
    }
  }
  
  @keyframes underline {
    100% {
      width: 100%;
      color: #40e075;
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
      color: #16bb4d;
    }
  }

h3{
    margin: 10px;

}
.text h4{
    margin: 10px;
}
.button{
    background: #40e075;
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}
.button li{
    list-style: none;
    font-size: 20px;
}
.button li a{
    text-decoration: none;
    color: white;
    z-index: -1;
}

.change{
    margin-top: 200px;
}
.mar{
    height: 100px;
}
.mar-1{
    height: 70px;
}
#h1{
    text-align: center;
    
}
.experience{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url('https://d33wubrfki0l68.cloudfront.net/8609f0a7e4cc61ac2db8e3f68505e5c7e340d831/c01eb/static/e8ab1b39b5730831c9463cb6ed18ca1b/developer-experience-header.png');
    
}


.education{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url('https://d33wubrfki0l68.cloudfront.net/8609f0a7e4cc61ac2db8e3f68505e5c7e340d831/c01eb/static/e8ab1b39b5730831c9463cb6ed18ca1b/developer-experience-header.png');
    padding: 20px;
}
.ex{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.b{
    width: 2px;
    background:#40e075;
}

.box{
    height: 15px;
    width: 15px;
    margin-left: -7px;
    background:#40e075;
    border-radius: 10px;
}
.box1{
    margin-top: 80px;
}
.box2, .box4{
    margin-top: 180px;
}
.box3{
    margin-top: 230px;
}
.year{
    width: 55%;
    margin: auto;
    margin-top: 0%;
    margin-right: 3%;
}
.p-1{
    color: white;
    border-radius: 10px;
    width: 55%;
    min-width: auto;
    background: #524a42a6;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    float: right;
}
.paragraph{
    width: 55%;
    margin-left: 3%;
}
.p-1:nth-child(1){
    margin-top: 20px;
}
/* .p-1:nth-child(2),
.p-1:nth-child(3),
.p-1:nth-child(4){
    margin-top: 50px;
} */
.p-2{
    width: 60%;  
    color: white;
}

.p-2 ul:nth-child(1),
.p-2 ul:nth-child(2),
.p-2 ul:nth-child(3),
.p-2 ul:nth-child(4){
    background: #524a42a6;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}
.p-1:nth-child(2){
    margin-top: 60px;
}
.p-1:nth-child(3){
    margin-top: 105px;
}
.p-1:nth-child(4) {
    margin-top: 35px;
}
.p-2 ul:nth-child(2),
.p-2 ul:nth-child(3),
.p-2 ul:nth-child(4){
    margin-top: 50px;
}

.edu-1, .edu-2{
    display: flex;
    width: 80%;
    background:#524a42a6;
    margin: auto;
    margin-top: 50px;
    color: white;
    border-radius: 10px;

}

.e-1{
    margin-left: 40px;
    width: 30%;
    padding: 10px;
    overflow: hidden;
}
.e-2{
    width: 60%;
    padding: 10px;
}


.pic ul{
    margin-top: -20px;
    display: flex;
    text-align: center;
    margin-left: 50px;
}
.pic ul li{
    list-style: none;
    padding: 20px;
}
.pic ul li a{
    text-decoration: none;
    color: black;
}
#skill{
    text-align: center;
    margin-top: 80px;
    
}

.skills{
    display: flex;
    justify-content: center;
}

.SL{
    background: #66533ba6; 
    box-sizing: border-box;
    padding: 10px;
}
.hard-skill{
    width: 30%;
    margin-right: 1%;
}
.soft-skill{
    width: 25%;
}
.language{
    width: 30%;
}
.sub{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    
}
.css,
.py,
.php{
    height: 6px;
    margin-top: 7px;
    background: #40e075;
    box-sizing: border-box;

}
.css{
    width: 57%;
}
.py{
    width: 60%;
}
.php{
    width: 70%;
}
.sub h5,
.lang h5{
    margin-left: 10px;
    margin-top: 5px;
}
.sub li,
.lang li{
    margin-right: 20px;
}
.lang{
    display: flex;
    margin-top: 15px;
}
.kh,
.eng,
.th{
    margin-top: 5px;
    height: 6px;
    background: #40e075;
    box-sizing: border-box;
}
.kh{
    width: 68%;
}
.eng{
    width: 60%;

}
.th{
    width: 55%;
}
.lang h5{
    margin-left: 10px;
}


footer{
    background-color: #66533ba6;
    margin-top: 80px;
    
}
footer h1{
    text-align: center;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.contact{
    width: 350px;
    height: 170px;
    background-color: #645e56a6;
    border-bottom: 5px solid  #40e075;
    overflow: hidden;
    text-align: center;
    color: white;
}
.contact a{
    color: white;
}
.i{
    display: flex;
    justify-content: center;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 90%;
    height: 290px;
    margin-top: 80px;
    border-radius: 15px;
    
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon li {
    padding: 20px;
    list-style: none;
    
}
footer hr{
    margin-top: 50px;
}
.icon li a{
    font-size: 30px;
    color: black;
}

@media (max-width: 668px){
    .home{
        flex-direction: column;
    }
    .text{
        width: 80%;
    }
    .b{
        height: 400vh;
    }
    .box2, .box3{
        margin-top: 100vh;
    }

    .SL{
        flex-direction: column;
    }
    .sub,.lang{
        flex-wrap: wrap;

    }
    .css,
    .py,
    .php,
    .kh,
    .eng,
    .th  {
        order: 3;
        width: 90%;
        margin-top: -20px;
    }
    .sub li,.lang li{
        margin-right: 20px;
    }
    .b{
        display: none;
    }
    .p-1{
        margin-left: -45%;
        margin-right: -35%;
        margin-top: 0;
    }
    .p-2{
        margin-left: -50%;
        width: 100%;        

    }
    .p-2 ul:nth-child(1){
        margin-top: 5%;
    }
    .p-2 ul:nth-child(1),
    .p-2 ul:nth-child(2),
    .p-2 ul:nth-child(3){
        margin-left: -20%;
        margin-right: -20%;
        width: 100%;        
    }
    .p-2 ul:nth-child(2),
    .p-2 ul:nth-child(3){
        margin-top: 26%;
    }
    .e-2{
        border-left: 2px solid rgb(62, 248, 62);

    }
    .info,.all{
        flex-direction: column;
    }
    iframe{
        width: 60%;
    }
    #name{
        margin-top: 10px;
    }
    #name,#email,text,#submit,#message{
        width: 100%;
    }
    .contact{
        margin: auto;
        margin-top: 10px;
        z-index: -1;
    }
    footer{
        margin: auto;
        
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 40vh;
        background: rgb(252, 253, 253);
        top: -20px;
        left: 0;
        text-align: center;
        transition: all 0.5s;
        z-index: 1;
    }

    .container{
        z-index: -1;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        line-height: 30px;
        margin-left: -17%;
    }
    nav ul li a{
        font-size: 20px;
        color: rgb(3, 3, 3);
    }
    #check:checked ~ nav{
        left: 0;

        
    }
    .button{
        margin-left: 30%;
        width: 45%;
    }
    
}




