body{
    margin: 0;
    padding: 0;
    font-family: Franklin Gothic Demi;
}
nav{
    position: sticky;
    top: -30px;
    margin-top: -16px;
    background: #40e075;
}
hr:nth-child(1){
    position: sticky;
    top: 100px;
}
nav ul{
    
    flex: 1;
    text-align: right;
    padding-top: 50px;
    margin-right: 100px;
    
 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 10px;
    position: relative;
    font-family:Castellar;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #40e075;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 190%;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;

}
.picture{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://img5.goodfon.com/wallpaper/nbig/a/3a/sanya-sonin-photographer-model-girl-brunette-dark-eyes-mouth.jpg);
    width: 100%;
    height: 80vh;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
}
.pic{
    width: 400px;
    height: 470px;
    background-color: #66533ba6;
    margin-right: 50px;
    margin-top: 70px;
}
.photo{
    width: 200px;
    height: 200px;
    background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1107114230%2F0x0.jpg%3Ffit%3Dscale);
    margin: auto;
    background-size: cover;
    border-radius: 85px;
    margin-top: 30px;
    
    
}
.pic h1,.pic h2{
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.pic h2{
    color: #40e075;
}

.text{
    width: 330px;
    height: 470px;
    color: black;
    background: #c1dfc49a;
    margin-top: 70px;
}


.container {
    position: relative;
    margin-left: 20px;
    background-color: var(--complimentary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
  }
  
  .text h2 {
    font-size: 50px;
    color: var(--primary-color);
    transform: translateY(-600px);
    animation: 1.2s slideIn ease-in-out forwards 1s;
    z-index: 10;
    opacity: 0;
    position: relative;
  }
  
  .text h2::before {
      content: '';
      width: 0%;
      color: #40e075;
      background-color: var(--secondary-color);
      position: absolute;
      bottom: -10px;
      animation: 1s underline ease-in-out forwards 2s;
      mix-blend-mode: screen;
  }
  
  .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
      left: 0;
      right: 0;
      background-color: var(--secondary-color);
      transform: scale(.5);
      animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
      color: #40e075;

  }
  
  @keyframes skewBg {
    0% {
      transform: scale(.5);
      color: #40e075;
    }
    100% {
      transform: scale(1);
      color: #40e075;
    }
  }
  
  @keyframes underline {
    100% {
      width: 100%;
      color: #40e075;
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
      color: #16bb4d;
    }
  }

h3{
    margin: 20px;

}
.text h4{
    margin-top: 40px;
    margin: 20px;
}
.button{
    background: #40e075;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 5px;
}
.button li{
    list-style: none;
    font-size: 20px;
}
.button li a{
    text-decoration: none;
    color: white;
}

.change{
    margin-top: 200px;
}
#ex,
#edu{
    text-align: center;
    margin-top: 100px;
}
.experience{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://images.unsplash.com/photo-1541681799731-44dfb98b5a80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    width: 100%;
    
}

.education{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://images.unsplash.com/photo-1541681799731-44dfb98b5a80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    width: 100%;
    height: 550px;
    padding-top: 20px;
}

.edu-1, .edu-2{
    display: flex;
    width: 80%;
    height: 200px;
    background: #66533ba6;
    margin: auto;
    margin-top: 50px;

}
.e-1{
    margin-left: 40px;
    width: 30%;
}
.e-2{
    width: 60%;
    margin-left: 40px;
}

.pic ul{
    margin-top: -20px;
    display: flex;
    text-align: center;
    margin-left: 50px;
}
.pic ul li{
    list-style: none;
    padding: 20px;
}
.pic ul li a{
    text-decoration: none;
    color: black;
}
.ex{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.b{
    height: 700px;
    width: 2px;
    background:#40e075;
    
}

.box{
    height: 15px;
    width: 15px;
    margin-left: -7px;
    background:#40e075;
    border-radius: 10px;
}
.box1{
    margin-top: 20px;
}
.box2, .box3{
    margin-top: 200px;
}
.p-1{
    width: 100%;
    margin-right: 100px;
    background: #524a42a6;
    color: white;
    margin-left: -20px;
    border-radius: 10px;



}
.p-1:nth-child(2),
.p-1:nth-child(3){
    margin-top: 100px;
    margin-left: -20px;
    background: #524a42a6;
    border-radius: 10px;



}
.p-2{
    margin-left: 100px;
    width: 400px;
    height: 150px;
    background: #524a42a6;
    color: white;
    border-radius: 10px;

}
.p-2 h4:nth-child(2){
    margin-top: 115px;
    background: #524a42a6;
    height: 150px;
    border-radius: 10px;

}

.p-2 h4:nth-child(3){
    margin-top: 60px;
    width: 400px;
    background: #524a42a6;
    height: 150px;
    border-radius: 10px;

}

#skill{
    text-align: center;
    margin-top: 80px;
}
.change{
    width: 80%;
    height: 400px;
    background: #66533ba6;
    justify-content: space-around;
    margin-top: 50px;
    padding-left: 220px;
    padding-top: 50px;
}
.sub{
    display: flex;
}
.css,
.py,
.php{
    height: 6px;
    margin-top: 7px;
    background: rgb(8, 121, 59);
}
.css{
    width: 500px;
    margin-left: 20px;
}
.py{
    margin-left: 65px;
    width: 500px;
}
.php{
    margin-left: 83px;
    width: 550px;
}
.sub h5{
    margin-left: 10px;
    margin-top: 0;
}
.lang{
    display: flex;
    margin-top: 15px;
}
.kh,
.eng,
.th{
    margin-top: 5px;
    height: 6px;
    background: rgb(8, 121, 59);
}
.kh{
    width: 550px;
    margin-left: 68px;
}
.eng{
    width: 500px;
    margin-left: 62px;
}
.th{
    width: 440px;
    margin-left: 83px;
}
.lang h5{
    margin-left: 10px;
    margin-top: -5px;
}

footer{
    height: 225vh;
    background-color: #66533ba6;
    margin-top: 80px;
    
}
footer h1{
    text-align: center;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.contact{
    width: 350px;
    height: 170px;
    background-color: #645e56a6;
    border-bottom: 5px solid  #40e075;
    overflow: hidden;
    text-align: center;
}
iframe{
    width: 91%;
    height: 350px;
    margin-top: 80px;
    margin-left: 60px;
    
}
.form{
    margin-top: 80px;
    margin-left: 60px;
    
}.form h2{
    color: white;
    text-align: center;
    margin-left: -30px;
}
#name,
#email{
    width: 46.8%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: rgba(241, 238, 238, 0.904);
    outline: none;
    
}
#text,#submit{
    width: 95%;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background: rgba(240, 236, 236, 0.911);
    outline: none;

}
#message{
    width: 95%;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    background: rgba(226, 225, 225, 0.801);
    outline: none;
}
#submit{
    font-size: 20px;
    color: white;
    background-color:  #40e075;
    outline: none;
}
#submit:hover{
    background-color:  #23a54e;
 
}
.icon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.icon li {
    padding: 20px;
    list-style: none;
    
}
.icon li a{
    font-size: 30px;
    color: black;
}


