body{
    margin: 0;
    padding: 0;
    
}
nav{
    position: sticky;
    top: -30px;
    background: linear-gradien(white,#40e075);
}
hr:nth-child(1){
    position: sticky;
    top: 100px;
}
nav ul{
    
    flex: 1;
    text-align: right;
    padding-top: 50px;
    margin-right: 100px;
    
 
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 10px;
    position: relative;
    font-family:Castellar;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #40e075;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 190%;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;

}
.picture{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-image: url(https://www.careers.ox.ac.uk/sites/default/files/careers/images/media/cvs-640x400.jpg);
    margin-top: 0;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
}
.pic{
    width: 400px;
    height: 470px;
    background-color: #66533ba6;
    margin-right: 50px;
    margin-top: 70px;
}
.photo{
    width: 200px;
    height: 200px;
    background-image: url(https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1107114230%2F0x0.jpg%3Ffit%3Dscale);
    margin: auto;
    background-size: cover;
    border-radius: 85px;
    margin-top: 30px;
    
    
}
.pic h1,.pic h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
.pic h2{
    color: #40e075;
}

.text{
    width: 330px;
    height: 470px;
    color: black;
    background: #c1dfc49a;
    margin-top: 70px;
}
.text h2{
    font-size: 70px;
    margin: 20px;
    color: #40e075;
}
h3{
    margin: 20px;

}
.text h4{
    margin-top: 40px;
    margin: 20px;
}
.button{
    background: #40e075;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
}
.experience,
.education,
.change{
    margin-top: 200px;
}
.experience h1,
.education h1{
    text-align: center;
    margin-top: 100px;
}

.edu-1, .edu-2{
    display: flex;
    width: 80%;
    height: 200px;
    background: rgba(85, 71, 71, 0.589);
    margin: auto;
    margin-top: 50px;
}
.e-1{
    margin-left: 40px;
    width: 30%;
}
.e-2{
    width: 60%;
    margin-left: 40px;
}

.pic ul{
    margin-top: -20px;
    display: flex;
    text-align: center;
    margin-left: 50px;
}
.pic ul li{
    list-style: none;
    padding: 20px;
}
.pic ul li a{
    text-decoration: none;
    color: black;
}
.ex{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.b{
    height: 700px;
    width: 2px;
    background:#40e075;
    opacity: 0.7;
    
}

.box{
    height: 15px;
    width: 15px;
    margin-left: -7px;
    background:#40e075;
    border-radius: 10px;
}
.box1{
    margin-top: 20px;
}
.box2, .box3{
    margin-top: 200px;
}
.p-1{
    width: 100%;
    margin-right: 100px;
}
.p-1:nth-child(2),
.p-1:nth-child(3){
    margin-top: 100px;
}
.p-2{
    margin-left: 100px;
    width: 300px;
}
.p-2 h4:nth-child(2),
.p-2 h4:nth-child(3){
    margin-top: 100px;
}


.change{
    width: 83%;
    height: 400px;
    background: rgba(95, 94, 91, 0.603);
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    padding-left: 220px;
    padding-top: 50px;
}
.sub{
    display: flex;
}
.css,
.py,
.php{
    height: 6px;
    margin-top: 7px;
    background: rgb(8, 121, 59);
}
.css{
    width: 500px;
    margin-left: 20px;
}
.py{
    margin-left: 65px;
    width: 500px;
}
.php{
    margin-left: 83px;
    width: 550px;
}
.sub h5{
    margin-left: 10px;
    margin-top: 0;
}
.lang{
    display: flex;
    margin-top: 15px;
}
.kh,
.eng,
.th{
    margin-top: 5px;
    height: 6px;
    background: rgb(8, 121, 59);
}
.kh{
    width: 550px;
    margin-left: 68px;
}
.eng{
    width: 500px;
    margin-left: 62px;
}
.th{
    width: 440px;
    margin-left: 83px;
}
.lang h5{
    margin-left: 10px;
    margin-top: -5px;
}


.contact{
    text-align: center;
    background: rgb(63, 63, 63);
    height: 450px;
    margin-top: 100px;

}
.contact h2{
    margin-top: 60px;
    padding-top: 20px;
    color: aliceblue;
}
.group{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.form #name{
    height: 30px;
    width: 193px;
    margin-top: 10px;
    border: 1px solid gainsboro;
    
}
#email{
    width: 395px;
    height: 30px;
    border: 1px solid gainsboro;
    margin-top: 10px;
}
#message {
    width: 395px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid gainsboro;

}
#submit {
    width: 395px;
    background: orange;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
}
iframe, form{
    width: 600px;
    height: 300px;
}
footer{
    height: 120px;
    margin-top: 0;
    background: rgb(41, 41, 41);
    display: flex;
    justify-content: space-around;
}
footer h4{
    margin: 0;
    margin-left: 30px;
    color: white;
}
.icon{
    display: flex;
}
.icon li{
    list-style: none;
    padding: 10px;
    color: white;
}
.icon li a{
    color: white;

}

